<div>
  <h2>Sign up</h2>

  <div>
    <%= render partial: "users/registrations/form", locals: { 
      email: params[:email], 
      resource: resource || User.new(email: params[:email]), 
      resource_name: resource_name || :user 
    } %>
  </div>

  <div>
    <%= link_to "Back to events", root_path %>
  </div>
</div>
